body {
  background-color: #fafafa;
  padding-top: 54px;
}

#navbar-top {
  height: 54px;
}

.logo {
  flex-grow: 1;
}

@media(min-width:768px) {
  .logo {
    flex-grow: 0;
  }
  #navbar-tool {
    flex-grow: 0;
  }
}

@media(min-width:1024px) {
  .logo {
    margin-left: 192px;
  }
  #navbar-tool {
    flex-grow: 1;
  }
}


::placeholder {
  text-align: center;
  font-size: 14px;
  color: gray;
  background-image: url("../assets/search-solid.svg");
  background-repeat: no-repeat;
  background-position: 35%;
  background-size: 6%;
}

input.empty {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  background-color: #FAFAFA;
}

.middlearea {
  max-height: 200px !important;
}

.postuserfont {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  color: black;
}

.dots {
  right: 15px;
}

.storyphoto {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid rgb(238, 39, 82);
  margin-right: 7px;
}

.storytext {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 12px;
  color: black;
}

#sticky-sidebar {
  position: fixed;
  right: 50px;
}

.follow {
  flex-grow: 1;
}

.rightpanellinks {
  text-decoration: none;
  color: lightgrey;
}

.rightpanellinks:hover {
  text-decoration: none;
  color: lightgrey;
}